{% extends 'base.html' %} {% load static %} {%block externalCss%}

<style>
  /*body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #DEE0E1;
    font-family: "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
  }*/

  .body{
    min-height: 65vh;
    padding-bottom: 20px;
  }

  .title{
    margin: 50px 0px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title h3{
    text-align: center;
    color: var(--secondary-color);
    font-size: 30px;
    width: 40%;
    line-height: 40px;
  }

  *, *::before, *::after {
      padding: 0;
      margin: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      outline: none;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out, margin 0.3s ease;
      -webkit-transition: all 0.3s ease-in-out, margin 0.3s ease;
  }
  
  /* RESET FORM ELEMENTS */
  .input-container input[type="date"],
  .input-container input[type="text"],
  .input-container input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  /* INPUT CONTAINER  */
  .input-container{
    display:flex;
    flex-direction: column;
    width: auto;
    height: auto;
    width: 16%;
    height: 60px;
    padding: 5px 10px 10px 10px;
    background: #fff;
    border-radius: 8px;
    border: 1.5px solid var(--secondary-color);
    overflow: hidden;
    cursor: pointer;
  }
  .input-container:hover, 
  .input-container:focus,
  .input-container:active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  
  .input-container label{
    position: relative;
    width: 100%;
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.1em;
    line-height: 20px;
    color: #09f;
    margin-left: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input-container input, .input-container select{
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 0px;
  }

  .input-container select{
    font-size: 15px;
    padding: 5px;
    border: none;
    cursor: pointer;
  }

  .input-container select::placeholder{
    color: gray;
  }

  input#rooms{
    border: none;
    width: 100px;
  }

  input#rooms::placeholder{
    font-size: 15px;
    padding: 5px;
  }
  
  /* BUTTON CONTAINER */
  .button-container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: auto;
    width: 16%;
    height: 65px;
    padding: 1px;
    padding-bottom: 2px;
    background: #09f;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 3px #000);
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    overflow: hidden;
    cursor:pointer;
  }
  .button-container:hover, 
  .button-container:focus {
    background: #09f;
    filter: drop-shadow(0px 0px 3px #09f);
    -webkit-filter: drop-shadow(0px 0px 3px #09f);
  }
  /* -- button -- */
  .button-container .button {
    position: relative;
    width: 100%;
    min-height: 63px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }
  .button-container:hover .button:hover  {
    background: #000;
    color: #fff;
  }
  .button-container:hover .button:active  {
    background: #000;
    color: #fff;
    background: #09f;
    filter: drop-shadow(0px 0px 3px #09f);
    -webkit-filter: drop-shadow(0px 0px 3px #09f);
  }
  /* -- button ok -- */
  .button-container .button.ok {
    background: #131313;
    color: #fff;
  }
  .button-container:hover .button.ok:hover {
    background: #131313;
    color: #09f;
    text-shadow: 0px 0px 10px #09f;
    -webkit-text-shadow: 0px 0px 10px #09f;
  }
  .button-container:hover .button.ok:active  {
    color: #fff;
    background: #09f;
    filter: drop-shadow(0px 0px 3px #000);
    -webkit-filter: drop-shadow(0px 0px 3px #000);
  }
  
  /* RESERVATION BOX */
  .reservation-box form{
    display:flex;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .reservation-box .static {
    position:relative;
    display: flex;
    align-items: center;
    float:left;
    width: auto;
    margin-right: 20px;
  }
  .reservation-box .flex {
    position:relative;
    display: flex;
    float:left;
    flex-direction: table;
    align-items: center;
    gap:20px;
    width:auto;
  }
  .reservation-box .top {
    display: flex;
    flex-direction: table;
  }
  .reservation-box .bottom {
    position:relative;
    width: 100%;
    text-align: right; 
  }
   
  .reservation-box form .info {
    width: auto;
    color: #000;
    font-weight:500;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  .reservation-box .info:hover,
  .reservation-box .info:focus,
  .reservation-box .info:active {
    color: #000;
    border-bottom: 2px solid #09f;
  }
  
  /* RESERVATION BOX SMALL */
  .reservation-box.small, .reservation-box.small .flex {
    flex-direction: column;
  }
  .reservation-box.small .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .reservation-box.small .static {
    margin-right: 0px;
  } 
  .reservation-box.small .bottom {
    text-align: center;
  }
  .reservation-box.small .button-container {min-width: 217px;}

  .result{
    text-align: center;
    font-size: 18px;
    color: red;
  }
  
  /* ------------ Testkit ------------ */
  /*.test {
    position: absolute;
    top:30px;
    left: 30px;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000;
    border-radius: 50%;
    cursor: pointer;
  }
  .test svg {
    rotate: 0deg;
  }
  .test svg path{
    fill: #000;
  }
  .test:hover {
    background: rgba(255,255,255,1);
  }
  .test.small svg {
    rotate: 90deg;
  }*/
  @media (max-width: 1230px){
    .reservation-box form{
      margin: auto;
      width: 80%;
    }
    .input-container{
      width: 16%;
    }
    .button-container{
      width: 16%;
    }
  }

  @media (max-width: 1050px){
    .title{
      margin: 50px 0px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title h3{
      text-align: center;
      color: var(--secondary-color);
      font-size: 30px;
      width: 60%;
      line-height: 40px;
    }

    .reservation-box form{
      margin: auto;
      width: 70%;
      justify-content: flex-start;
    }
    .input-container{
      width: 30%;
    }
    .button-container{
      width: 20%;
    }
  }

  @media (max-width: 800px){
    .title{
      margin: 50px 0px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title h3{
      text-align: center;
      color: var(--secondary-color);
      font-size: 30px;
      width: 70%;
      line-height: 40px;
    }

    .reservation-box form{
      margin: auto;
      width: 70%;
      justify-content: flex-start;
    }
    .input-container{
      width: 47%;
    }
    .button-container{
      width: 30%;
      margin: auto;
    }
  }

  @media (max-width: 700px){
    .reservation-box form{
      margin: auto;
      width: 60%;
      justify-content: flex-start;
    }
    .input-container{
      width: 100%;
      border: 1.5px solid var(--secondary-color);
    }
    .button-container{
      width: 50%;
      margin: 10px auto;
    }
  }

  @media (max-width: 600px){
    .button-container{
      width: 100%;
    }
  }
  .inside{
    padding: 25px;
  }
  h3{
    color: rgb(34,122,191);
  }
</style>
{% endblock %} 
{%block body%}
<main>
  <style>
    .bdy{
      min-height: 65vh;
      padding-bottom: 20px;
    }

    .ttl{
      margin: 50px 0px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ttl h2{
      text-align: center;
      color: var(--secondary-color);
      font-size: 30px;
      width: 40%;
      line-height: 40px;
    }

    *, *::before, *::after {
        padding: 0;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        outline: none;
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out, margin 0.3s ease;
        -webkit-transition: all 0.3s ease-in-out, margin 0.3s ease;
    }
    
    /* RESET FORM ELEMENTS */
    .input-container input[type="date"],
    .input-container input[type="text"],
    .input-container input[type="number"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      border: none;
      outline: none;
      box-shadow: none;
    }
    /* RESERVATION BOX */
    .reservation-box form{
      display:flex;
      align-items: center;
      gap: 20px;
      height: auto;
      padding: 10px;
      border-radius: 7px;
      background-color: #fff;
      width: 80%;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
      margin: 30px auto;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .reservation-box .static {
      position:relative;
      display: flex;
      align-items: center;
      float:left;
      width: auto;
      margin-right: 20px;
    }
    .reservation-box .flex {
      position:relative;
      display: flex;
      float:left;
      flex-direction: table;
      align-items: center;
      gap:20px;
      width:auto;
    }
    .reservation-box .top {
      display: flex;
      flex-direction: table;
    }
    .reservation-box .bottom {
      position:relative;
      width: 100%;
      text-align: right; 
    }
     
    .reservation-box form .info {
      width: auto;
      color: #000;
      font-weight:500;
      text-decoration: none;
      text-align: right;
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }
    .reservation-box .info:hover,
    .reservation-box .info:focus,
    .reservation-box .info:active {
      color: #000;
      border-bottom: 2px solid #09f;
    }
    
    /* RESERVATION BOX SMALL */
    .reservation-box.small, .reservation-box.small .flex {
      flex-direction: column;
    }
    .reservation-box.small .top {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .reservation-box.small .static {
      margin-right: 0px;
    } 
    .reservation-box.small .bottom {
      text-align: center;
    }
    .reservation-box.small .button-container {min-width: 217px;}

    .result{
      text-align: center;
      font-size: 18px;
      color: red;
    }
    
    /* ------------ Testkit ------------ */
    /*.test {
      position: absolute;
      top:30px;
      left: 30px;
      width: 66px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid #000;
      border-radius: 50%;
      cursor: pointer;
    }
    .test svg {
      rotate: 0deg;
    }
    .test svg path{
      fill: #000;
    }
    .test:hover {
      background: rgba(255,255,255,1);
    }
    .test.small svg {
      rotate: 90deg;
    }*/
    @media (max-width: 1230px){
      .reservation-box form{
        margin: auto;
        width: 80%;
      }
      .input-container{
        width: 16%;
      }
      .button-container{
        width: 16%;
      }
    }

    @media (max-width: 1050px){
      .ttl{
        margin: 50px 0px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ttl h2{
        text-align: center;
        color: var(--secondary-color);
        font-size: 30px;
        width: 60%;
        line-height: 40px;
      }

      .reservation-box form{
        margin: auto;
        width: 70%;
        justify-content: flex-start;
      }
      .input-container{
        width: 30%;
      }
      .button-container{
        width: 20%;
      }
    }

    @media (max-width: 800px){
      .ttl{
        margin: 50px 0px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ttl h2{
        text-align: center;
        color: var(--secondary-color);
        font-size: 30px;
        width: 70%;
        line-height: 40px;
      }

      .reservation-box form{
        margin: auto;
        width: 90%;
        justify-content: flex-start;
      }
      .input-container{
        width: 47%;
      }
      .button-container{
        width: 30%;
        margin: auto;
      }
    }

    @media (max-width: 700px){
      .reservation-box form{
        margin: auto;
        width: 80%;
        justify-content: flex-start;
      }
      .input-container{
        width: 100%;
        border: 1.5px solid var(--secondary-color);
      }
      .button-container{
        width: 50%;
        margin: 10px auto;
      }
    }

    @media (max-width: 600px){
      .button-container{
        width: 100%;
      }
    }
    .inside{
      padding: 25px;
    }
    h2{
      text-align: center;
      color: var(--secondary-color);
      font-size: 30px;
      width: 40%;
      line-height: 40px;
    }
  </style>

  {% comment %} {% endblock %} {% endcomment %}

  {% comment %} {% block body %} {% endcomment %}
<main>
  <div class="bdy">
    <div class="ttl">
      <h2>Add a new semester</h2>
    </div>

    <div class="reservation-box">
      <form method="POST">
        {% csrf_token %}
    
        <label for="semester">Semester Name:</label>
        <input type="text" name="semester" id="semester" required><br><br>
        
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" id="start_date" required><br><br>
    
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" id="end_date" required><br><br>
        
        <input type="submit" class="btn btn-outline-primary" value="Add" id="submit-btn">
    </form>
    </div>
  </div>
</main>

<script>

  document.getElementById("submit-btn").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default form submit behavior

    const form = document.querySelector("form");
    const formData = new FormData(form);

    fetch('/ajax/add_semester/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert("Semester has been added");
            form.reset();
        } else {
            alert("Failed to add semester");
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("An error occurred while adding semester");
    });
});
</script>
{% endblock %}