{% extends 'base.html' %}
{% load static %}
{%block externalCss%}
<style>
  /*bdy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #DEE0E1;
    font-family: "Ubuntu", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
  }*/

  .bdy{
    min-height: 65vh;
    padding-bottom: 20px;
  }

  .ttl{
    margin: 50px 0px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ttl h3{
    text-align: center;
    color: var(--secondary-color);
    font-size: 30px;
    width: 40%;
    line-height: 40px;
  }

  *, *::before, *::after {
      padding: 0;
      margin: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      outline: none;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out, margin 0.3s ease;
      -webkit-transition: all 0.3s ease-in-out, margin 0.3s ease;
  }
  
  /* RESET FORM ELEMENTS */
  .input-container input[type="date"],
  .input-container input[type="text"],
  .input-container input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  /* INPUT CONTAINER  */
  .input-container{
    display:flex;
    flex-direction: column;
    width: auto;
    height: auto;
    width: 16%;
    height: 60px;
    padding: 5px 10px 10px 10px;
    background: #fff;
    border-radius: 8px;
    border: 1.5px solid var(--secondary-color);
    overflow: hidden;
    cursor: pointer;
  }
  .input-container:hover, 
  .input-container:focus,
  .input-container:active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  
  .input-container label{
    position: relative;
    width: 100%;
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.1em;
    line-height: 20px;
    color: #09f;
    margin-left: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input-container input, .input-container select{
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 0px;
  }

  .input-container select{
    font-size: 15px;
    padding: 5px;
    border: none;
    cursor: pointer;
  }

  .input-container select::placeholder{
    color: gray;
  }

  input#rooms{
    border: none;
    width: 100px;
  }

  input#rooms::placeholder{
    font-size: 15px;
    padding: 5px;
  }
  
  /* BUTTON CONTAINER */
  .button-container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: auto;
    width: 16%;
    height: 65px;
    padding: 1px;
    padding-bottom: 2px;
    background: #09f;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 3px #000);
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    overflow: hidden;
    cursor:pointer;
  }
  .button-container:hover, 
  .button-container:focus {
    background: #09f;
    filter: drop-shadow(0px 0px 3px #09f);
    -webkit-filter: drop-shadow(0px 0px 3px #09f);
  }
  /* -- button -- */
  .button-container .button {
    position: relative;
    width: 100%;
    min-height: 63px;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }
  .button-container:hover .button:hover  {
    background: #000;
    color: #fff;
  }
  .button-container:hover .button:active  {
    background: #000;
    color: #fff;
    background: #09f;
    filter: drop-shadow(0px 0px 3px #09f);
    -webkit-filter: drop-shadow(0px 0px 3px #09f);
  }
  /* -- button ok -- */
  .button-container .button.ok {
    background: #131313;
    color: #fff;
  }
  .button-container:hover .button.ok:hover {
    background: #131313;
    color: #09f;
    text-shadow: 0px 0px 10px #09f;
    -webkit-text-shadow: 0px 0px 10px #09f;
  }
  .button-container:hover .button.ok:active  {
    color: #fff;
    background: #09f;
    filter: drop-shadow(0px 0px 3px #000);
    -webkit-filter: drop-shadow(0px 0px 3px #000);
  }
  
  /* RESERVATION BOX */
  .reservation-box form{
    display:flex;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .reservation-box .static {
    position:relative;
    display: flex;
    align-items: center;
    float:left;
    width: auto;
    margin-right: 20px;
  }
  .reservation-box .flex {
    position:relative;
    display: flex;
    float:left;
    flex-direction: table;
    align-items: center;
    gap:20px;
    width:auto;
  }
  .reservation-box .top {
    display: flex;
    flex-direction: table;
  }
  .reservation-box .bottom {
    position:relative;
    width: 100%;
    text-align: right; 
  }
   
  .reservation-box form .info {
    width: auto;
    color: #000;
    font-weight:500;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  .reservation-box .info:hover,
  .reservation-box .info:focus,
  .reservation-box .info:active {
    color: #000;
    border-bottom: 2px solid #09f;
  }
  
  /* RESERVATION BOX SMALL */
  .reservation-box.small, .reservation-box.small .flex {
    flex-direction: column;
  }
  .reservation-box.small .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .reservation-box.small .static {
    margin-right: 0px;
  } 
  .reservation-box.small .bottom {
    text-align: center;
  }
  .reservation-box.small .button-container {min-width: 217px;}

  .result{
    text-align: center;
    font-size: 18px;
    color: red;
  }
  
  /* ------------ Testkit ------------ */
  /*.test {
    position: absolute;
    top:30px;
    left: 30px;
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000;
    border-radius: 50%;
    cursor: pointer;
  }
  .test svg {
    rotate: 0deg;
  }
  .test svg path{
    fill: #000;
  }
  .test:hover {
    background: rgba(255,255,255,1);
  }
  .test.small svg {
    rotate: 90deg;
  }*/
  @media (max-width: 1230px){
    .reservation-box form{
      margin: auto;
      width: 80%;
    }
    .input-container{
      width: 16%;
    }
    .button-container{
      width: 16%;
    }
  }

  @media (max-width: 1050px){
    .ttl{
      margin: 50px 0px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ttl h3{
      text-align: center;
      color: var(--secondary-color);
      font-size: 30px;
      width: 60%;
      line-height: 40px;
    }

    .reservation-box form{
      margin: auto;
      width: 70%;
      justify-content: flex-start;
    }
    .input-container{
      width: 30%;
    }
    .button-container{
      width: 20%;
    }
  }

  @media (max-width: 800px){
    .ttl{
      margin: 50px 0px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ttl h3{
      text-align: center;
      color: var(--secondary-color);
      font-size: 30px;
      width: 70%;
      line-height: 40px;
    }

    .reservation-box form{
      margin: auto;
      width: 70%;
      justify-content: flex-start;
    }
    .input-container{
      width: 47%;
    }
    .button-container{
      width: 30%;
      margin: auto;
    }
  }

  @media (max-width: 700px){
    .reservation-box form{
      margin: auto;
      width: 60%;
      justify-content: flex-start;
    }
    .input-container{
      width: 100%;
      border: 1.5px solid var(--secondary-color);
    }
    .button-container{
      width: 50%;
      margin: 10px auto;
    }
  }

  @media (max-width: 600px){
    .button-container{
      width: 100%;
    }
  }
  .inside{
    padding: 25px;
  }
  /*h2{
    color: var(--secondary-color);
  } */
  .li-pd{
            padding-top: 10px;
        }
</style>
{% endblock %}
{% block body %}
<main>
  <style>
    .bdy{
      min-height: 65vh;
      padding-bottom: 20px;
    }
    
    .ttl{
      margin: 50px 0px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .ttl h3{
      text-align: center;
      color: var(--secondary-color);
      font-size: 30px;
      width: 40%;
      line-height: 40px;
    }
    
    *, *::before, *::after {
        padding: 0;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        outline: none;
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out, margin 0.3s ease;
        -webkit-transition: all 0.3s ease-in-out, margin 0.3s ease;
    }
    
    /* RESET FORM ELEMENTS */
    .input-container input[type="date"],
    .input-container input[type="text"],
    .input-container input[type="number"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      border: none;
      outline: none;
      box-shadow: none;
    }
    
    /* INPUT CONTAINER  */
    .input-container{
      display:flex;
      flex-direction: column;
      width: auto;
      height: auto;
      width: 16%;
      height: 60px;
      padding: 5px 10px 10px 10px;
      background: #fff;
      border-radius: 8px;
      border: 1.5px solid var(--secondary-color);
      overflow: hidden;
      cursor: pointer;
    }
    .input-container:hover, 
    .input-container:focus,
    .input-container:active {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
    
    .input-container label{
      position: relative;
      width: 100%;
      font-family: "Segoe UI";
      font-weight: 600;
      font-size: 11px;
      letter-spacing: 0.1em;
      line-height: 20px;
      color: #09f;
      margin-left: 2px;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .input-container input, .input-container select{
      position: relative;
      align-items: center;
      width: auto;
      height: auto;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0.05em;
      line-height: 21px;
      text-transform: uppercase;
      margin-left: 0px;
    }
    
    .input-container select{
      font-size: 15px;
      padding: 5px;
      border: none;
      cursor: pointer;
    }
    
    .input-container select::placeholder{
      color: gray;
    }
    
    input#rooms{
      border: none;
      width: 100px;
    }
    
    input#rooms::placeholder{
      font-size: 15px;
      padding: 5px;
    }
    
    /* BUTTON CONTAINER */
    .button-container {
      display:flex;
      align-items: center;
      justify-content: center;
      width: auto;
      width: 16%;
      height: 65px;
      padding: 1px;
      padding-bottom: 2px;
      background: #09f;
      border-radius: 10px;
      filter: drop-shadow(0px 0px 3px #000);
      -webkit-filter: drop-shadow(0px 0px 3px #000);
      overflow: hidden;
      cursor:pointer;
    }
    .button-container:hover, 
    .button-container:focus {
      background: #09f;
      filter: drop-shadow(0px 0px 3px #09f);
      -webkit-filter: drop-shadow(0px 0px 3px #09f);
    }
    /* -- button -- */
    .button-container .button {
      position: relative;
      width: 100%;
      min-height: 63px;
      height:auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: #fff;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
    }
    .button-container:hover .button:hover  {
      background: #000;
      color: #fff;
    }
    .button-container:hover .button:active  {
      background: #000;
      color: #fff;
      background: #09f;
      filter: drop-shadow(0px 0px 3px #09f);
      -webkit-filter: drop-shadow(0px 0px 3px #09f);
    }
    /* -- button ok -- */
    .button-container .button.ok {
      background: #131313;
      color: #fff;
    }
    .button-container:hover .button.ok:hover {
      background: #131313;
      color: #09f;
      text-shadow: 0px 0px 10px #09f;
      -webkit-text-shadow: 0px 0px 10px #09f;
    }
    .button-container:hover .button.ok:active  {
      color: #fff;
      background: #09f;
      filter: drop-shadow(0px 0px 3px #000);
      -webkit-filter: drop-shadow(0px 0px 3px #000);
    }
    
    /* RESERVATION BOX */
    .reservation-box form{
      display:flex;
      align-items: center;
      gap: 20px;
      height: auto;
      padding: 10px;
      border-radius: 7px;
      background-color: #fff;
      width: 80%;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
      margin: 30px auto;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .reservation-box .static {
      position:relative;
      display: flex;
      align-items: center;
      float:left;
      width: auto;
      margin-right: 20px;
    }
    .reservation-box .flex {
      position:relative;
      display: flex;
      float:left;
      flex-direction: table;
      align-items: center;
      gap:20px;
      width:auto;
    }
    .reservation-box .top {
      display: flex;
      flex-direction: table;
    }
    .reservation-box .bottom {
      position:relative;
      width: 100%;
      text-align: right; 
    }
     
    .reservation-box form .info {
      width: auto;
      color: #000;
      font-weight:500;
      text-decoration: none;
      text-align: right;
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }
    .reservation-box .info:hover,
    .reservation-box .info:focus,
    .reservation-box .info:active {
      color: #000;
      border-bottom: 2px solid #09f;
    }
    
    /* RESERVATION BOX SMALL */
    .reservation-box.small, .reservation-box.small .flex {
      flex-direction: column;
    }
    .reservation-box.small .top {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .reservation-box.small .static {
      margin-right: 0px;
    } 
    .reservation-box.small .bottom {
      text-align: center;
    }
    .reservation-box.small .button-container {min-width: 217px;}
    
    .result{
      text-align: center;
      font-size: 18px;
      color: red;
    }
    
    /* ------------ Testkit ------------ */
    /*.test {
      position: absolute;
      top:30px;
      left: 30px;
      width: 66px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid #000;
      border-radius: 50%;
      cursor: pointer;
    }
    .test svg {
      rotate: 0deg;
    }
    .test svg path{
      fill: #000;
    }
    .test:hover {
      background: rgba(255,255,255,1);
    }
    .test.small svg {
      rotate: 90deg;
    }*/
    @media (max-width: 1230px){
      .reservation-box form{
        margin: auto;
        width: 80%;
      }
      .input-container{
        width: 16%;
      }
      .button-container{
        width: 16%;
      }
    }
    
    @media (max-width: 1050px){
      .ttl{
        margin: 50px 0px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .ttl h3{
        text-align: center;
        color: var(--secondary-color);
        font-size: 30px;
        width: 60%;
        line-height: 40px;
      }
    
      .reservation-box form{
        margin: auto;
        width: 70%;
        justify-content: flex-start;
      }
      .input-container{
        width: 30%;
      }
      .button-container{
        width: 20%;
      }
    }
    
    @media (max-width: 800px){
      .ttl{
        margin: 50px 0px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .ttl h3{
        text-align: center;
        color: var(--secondary-color);
        font-size: 30px;
        width: 70%;
        line-height: 40px;
      }
    
      .reservation-box form{
        margin: auto;
        width: 70%;
        justify-content: flex-start;
      }
      .input-container{
        width: 47%;
      }
      .button-container{
        width: 30%;
        margin: auto;
      }
    }
    
    @media (max-width: 700px){
      .reservation-box form{
        margin: auto;
        width: 95%;
        justify-content: flex-start;
      }
      .input-container{
        width: 100%;
        border: 1.5px solid var(--secondary-color);
      }
      .button-container{
        width: 50%;
        margin: 10px auto;
      }
    }
    
    @media (max-width: 600px){
      .button-container{
        width: 100%;
      }
    }
    .inside{
      padding: 25px;
    }
    /*h2{
      color: var(--secondary-color);
    } */
    .li-pd{
              padding-top: 10px;
          }
  </style>
  <div class="bdy">
    <div class="ttl">
      <h3>Contact-Information</h3>
    </div>

    <div class="reservation-box">
          <form>
            <span>
           <div class="inside">
                <h3>General Secretary, Mess, Cafeteria and Allied Services:</h3>
                <!-- <div class="contact-info"> -->
                  Mr. Shubham Sadhya
                <p>Phone Number: 7000431620 <br>Email: <a href="mailto:gs.dining@iiti.ac.in" style="text-decoration: none;color: black;">gs.dining@iiti.ac.in</a></p>
             </div>
                 <div class="inside">
                   <h3>Office of Dining Warden:</h3>
                   <!-- <div class="contact-info"> -->
                     <p>
                       Phone: 0731-6603368 <br>
                       Email: <a href="mailto: diningwardenoffice@iiti.ac.in"  style="text-decoration: none; color: black;"> diningwardenoffice@iiti.ac.in</a>
                     </p>
                   <!-- </div> -->
                 </div>
                 <div class="inside">
                    <h3>Dining Secretary Hall of Residences:</h3>
                  <ul>
                    <li class="li-pd"><h4>APJ</h4></li>
                    Mr. Suhith Karrala <br>
                    Phone: 9966232043<br>
                    Email: <a href="mailto:ce210004020@iiti.ac.in" style="text-decoration: none; color: black;">ce210004020@iiti.ac.in</a>
                    <li class="li-pd"><h4>CVR</h4></li>
                    Mr. Naveen Kumar <br>
                    Phone: 9855429976<br>
                    Email: <a href="mailto:mt2302103026@iiti.ac.in" style="text-decoration: none; color: black;">mt2302103026@iiti.ac.in</a>
                    <li class="li-pd"><h4>VSB</h4></li>
                    Mr. Zenkumar Kapadiya<br>
                    Phone: 9737060923 <br>
                    Email: <a href="mailto: ms2204103006@iiti.ac.in" class="text-dark" style="text-decoration: none; color: black;"> ms2204103006@iiti.ac.in</a>
                    <li class="li-pd"><h4>HJB</h4></li>
                    Mr. Ummed Singh<br>
                    Phone: 9799430304 <br>
                    Email: <a href="mailto:phd2201103006@iiti.ac.in"class="text-dark" style="text-decoration: none; color: black;">phd2201103006@iiti.ac.in</a>
                    <li class="li-pd"><h4>DA</h4></li>
                    Ms. Mohini<br>
                    Phone: 9667033160 <br>
                    Email: <a href="mailto:msc2203171012@iiti.ac.in" class="text-dark" style="text-decoration: none; color: black;">msc2203171012@iiti.ac.in</a>
                 </ul>
                 </div>
                 <div class="inside">
                  <h3>Central Dining Committee:</h3>
                  <ul>
                    <li class="li-pd">Dining Warden - Dr. Pravarthana Dhanpal</li>
                    <li class="li-pd">Associate Dining Warden - Dr. Nisheeth Kumar Prasad</li>
                    <li class="li-pd">Committee Member - Dr. Abhijeet Joshi</li>
                    <li class="li-pd">Committee Member - Dr. Sunil Kumar</li>
                   </ul>
                 </div>
                </span>
          </form>
    </div>
  </div>
</main>
{% endblock %}